@font-face {
  font-family: "ArialMT";
  src: url("~@/assets/fonts/ArialMT.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Arial-BoldMT";
  src: url("~@/assets/fonts/Arial-BoldMT.otf");
}

@font-face {
  font-family: "04B_1";
  src: url("~@/assets/fonts/04B_1.TTF");
}

* {
  color: inherit;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  list-style: none;
  font-family: "system-ui", "-apple-system", "BlinkMacSystemFont", "segoe ui", "sans-serif";
  box-sizing: border-box;
  text-decoration: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

html,
body,
li,
ul,
a,
p {
  font-family: 'ArialMT';
}

.container {
  width: 920px;
  margin: 0 auto;
}

body #nprogress .bar {
  background: #303133;
}

body #nprogress .peg {
  box-shadow: 0 0 10px #303133, 0 0 5px #303133;
}

.webkit-ellipsis-2 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}

@media screen and (max-width: 750px) {
  .container {
    width: 100%;
    padding: 0 20px;
  }
}
