
@font-face {
    font-family: 'ArialMT';
    src:url("ArialMT.ttf");
}


@font-face {
    font-family: 'Arial-BoldMT';
    src:url("Arial-BoldMT.otf");
}

@font-face {
    font-family: 'Montserrat-Light';
    src:url("");
}

@font-face {
    font-family: '04B_1';
    src:url("04B_1.TTF");
}